@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  font-family: sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.parent {
  filter: url(#round);
}

.clip-path-style {
  -webkit-clip-path: polygon(
    93% 0,
    93% 14%,
    100% 14%,
    100% 100%,
    19% 100%,
    19% 87%,
    0 87%,
    0 43%,
    22% 43%,
    22% 0
  );
  clip-path: polygon(
    22% 0,
    93% 0,
    93% 13%,
    100% 13%,
    100% 100%,
    19% 100%,
    19% 87%,
    0 87%,
    0 43%,
    22% 43%
  );
}
